Connected Services/RequiredServiceRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar30.fulton.asu.edu/page4/requiredser.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar30.fulton.asu.edu/page4/requiredser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar30.fulton.asu.edu/page4/requiredser.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requiredser_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="requiredser_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="requiredser_Top10Words_InputMessage">
    <wsdl:part name="parameters" element="tns:Top10Words" />
  </wsdl:message>
  <wsdl:message name="requiredser_Top10Words_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top10WordsResponse" />
  </wsdl:message>
  <wsdl:message name="requiredser_WordFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:WordFilter" />
  </wsdl:message>
  <wsdl:message name="requiredser_WordFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordFilterResponse" />
  </wsdl:message>
  <wsdl:portType name="requiredser">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/requiredser/GetData" message="tns:requiredser_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/requiredser/GetDataResponse" message="tns:requiredser_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Top10Words">
      <wsdl:input wsaw:Action="http://tempuri.org/requiredser/Top10Words" message="tns:requiredser_Top10Words_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/requiredser/Top10WordsResponse" message="tns:requiredser_Top10Words_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/requiredser/WordFilter" message="tns:requiredser_WordFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/requiredser/WordFilterResponse" message="tns:requiredser_WordFilter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_requiredser" type="tns:requiredser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/requiredser/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top10Words">
      <soap:operation soapAction="http://tempuri.org/requiredser/Top10Words" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <soap:operation soapAction="http://tempuri.org/requiredser/WordFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_requiredser" binding="tns:BasicHttpBinding_requiredser">
      <soap:address location="http://webstrar30.fulton.asu.edu/page4/requiredser.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>